$secondary-color: #f5f5f5;
$border-color: #dcdcdc;
$text-color: #333;
$padding-content: 80px; 
$max-width: 800px;
$border-radius: 8px;
$margin-bottom: 20px;
$white: #fff;
$font-size: 17px;
$select-width: 400px;
$whiteColor: #ffffff;
$blueColor: #0070f3;
$blueColorHover: #005bb5;
$pointerCursor: pointer;
$buttonPadding: 8px 12px;
$borderRadius: 4px;

.mainDropDown {
  margin-top: 40px;
  margin-left: 20px;
}

// Style for the main content container
.main-content-Searchable {
  max-width: $max-width;
  margin-left: 250px;
  padding: $padding-content;
  background-color: $secondary-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: $text-color;
  margin-bottom: $margin-bottom;
  text-align: center;
}

.back-selectPage {
    background-color: $blueColor;
    color: $whiteColor;
    border: none;
    padding: $buttonPadding;
    border-radius: $borderRadius;
    cursor: $pointerCursor;
    text-decoration: none;

    &:hover {
      background-color: $blueColorHover;
    }
  }

.remove-country {
    background-color: $blueColor;
    color: $whiteColor;
    border: none;
    padding: $buttonPadding;
    border-radius: $borderRadius;
    cursor: $pointerCursor;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;

    &:hover {
      background-color: $blueColorHover;
    }
}


// main data part
.country_data {
  background-color: $white;
  max-height: 290px;
  width: 500px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country_data .search {
  display: flex;
  align-items: center;
  margin: 16px;
}

.search input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 16px;
}

// countries label
.countryValue {
  margin: 0 8px 0 8px;
  padding: 7px 8px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  padding-bottom: 10px;
}

.countryValue:hover {
  background-color: rgba(128, 128, 128, 0.116);
}

.countryValue.active {
  background-color: #e0e0e0; /* Highlight color */
}