$secondary-color: #f5f5f5;
$border-color: #dcdcdc;
$text-color: #333;
$padding-content: 80px; 
$max-width: 800px;
$border-radius: 8px;
$margin-bottom: 20px;
$white: #fff;
$font-size: 17px;
$select-width: 400px;
$whiteColor: #ffffff;
$blueColor: #0070f3;
$blueColorHover: #005bb5;
$pointerCursor: pointer;
$buttonPadding: 8px 12px;
$borderRadius: 4px;

.mainDropDown {
  margin-top: 40px;
  margin-left: 20px;
}
// Style for the main content container
.main-content-Searchable {
  max-width: $max-width;
  margin-left: 250px;
  padding: $padding-content;
  background-color: $secondary-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: $text-color;
  margin-bottom: $margin-bottom;
  text-align: center;
}

.back-selectPage {
    background-color: $blueColor;
    color: $whiteColor;
    border: none;
    padding: $buttonPadding;
    border-radius: $borderRadius;
    cursor: $pointerCursor;
    text-decoration: none;

    &:hover {
      background-color: $blueColorHover;
    }
  }

  .remove-country {
    background-color: $blueColor;
    color: $whiteColor;
    border: none;
    padding: $buttonPadding;
    border-radius: $borderRadius;
    cursor: $pointerCursor;
    text-decoration: none;
    font-size: 16px;
    &:hover {
      background-color: $blueColorHover;
    }
  }

// Style for the Select component
.title {
  width: 500px;
  background-color: $white;
  border-radius: $border-radius;
  padding: 10px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

// main data part
.country_data {
  background-color: $white;
  max-height: 290px;
  width: 500px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease-in-out;
}

.dropshow {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.countryValue.active {
  background-color: #e0e0e0; /* Highlight color */
}

.country_data .search {
  display: flex;
  align-items: center;
  margin: 16px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}

.country {
  display: flex;
  flex-direction: column;
}

.countryValue {
  margin: 0 8px 0 8px;
  padding: 7px 8px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  padding-bottom: 10px;
}

.countryValue:hover {
  background-color: rgba(128, 128, 128, 0.116);
}

.clear-choise {
    background-color: $blueColor;
    color: $whiteColor;
    border: none;
    padding: $buttonPadding;
    border-radius: $borderRadius;
    cursor: $pointerCursor;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      background-color: $blueColorHover;
    }
}

  .message-appear {
    color: #bcbbbb;
  }