.opposite-direc {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-evenly;
  
  img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

}

.opposite-direc:nth-child(odd) {
  display: flex;
  flex-Direction: row-reverse ;
}
